h1 {
    width: 200px;
    background-color: chocolate;
    text-align: center;
    border-style: solid;
    border-width: 11px;
    border-color: darksalmon;
    padding: 30px;
    display: inline-block;
}

div {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    border: 5px solid black;
    display: inline-block;
}

#one {

    background-color: darkgoldenrod;
    border-width: 10px;
    border-style: dashed solid;
    border-color: aqua;
    box-sizing: border-box;
    border-bottom-color: brown;

}

#two {
    background-color: darkkhaki;
    box-sizing: border-box;
    border-style: dotted;
    border-color: darkgreen;
    border-width: 10px;
    margin: 200px;
    display: inline-block;
}

#three {
    background-color: #ff70a6;
    border: 6px solid aqua;
    box-sizing: border-box;
    border-radius: 10%;
}

#button1 {
    padding: 10px 50px 23px;
}


